.finId{
    width: 1200px;
}
.find_id{
    text-align: center;
    /* border: 1px solid red; */
}
.f_id #useremail{
    width: 420px;
    margin-top: 10px;
    /* display: ; */
    /* border: 1px solid red; */
}